2024-02-27T12:03:14.766-05:00  INFO 17280 --- [restartedMain] com.task3.Task3Application               : Starting Task3Application using Java 19.0.2 with PID 17280 (C:\Users\USER\git\task3\task_3\target\classes started by USER in C:\Users\USER\git\task3\task_3)
2024-02-27T12:03:14.770-05:00  INFO 17280 --- [restartedMain] com.task3.Task3Application               : The following 1 profile is active: "dev"
2024-02-27T12:03:14.808-05:00  INFO 17280 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : Devtools property defaults active! Set 'spring.devtools.add-properties' to 'false' to disable
2024-02-27T12:03:14.808-05:00  INFO 17280 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : For additional web related logging consider setting the 'logging.level.web' property to 'DEBUG'
2024-02-27T12:03:15.530-05:00  INFO 17280 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Bootstrapping Spring Data JPA repositories in DEFAULT mode.
2024-02-27T12:03:15.577-05:00  INFO 17280 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Finished Spring Data repository scanning in 41 ms. Found 5 JPA repository interfaces.
2024-02-27T12:03:16.097-05:00  INFO 17280 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port 8090 (http)
2024-02-27T12:03:16.104-05:00  INFO 17280 --- [restartedMain] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2024-02-27T12:03:16.104-05:00  INFO 17280 --- [restartedMain] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.16]
2024-02-27T12:03:16.141-05:00  INFO 17280 --- [restartedMain] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2024-02-27T12:03:16.141-05:00  INFO 17280 --- [restartedMain] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 1333 ms
2024-02-27T12:03:16.257-05:00  INFO 17280 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Starting...
2024-02-27T12:03:16.391-05:00  INFO 17280 --- [restartedMain] com.zaxxer.hikari.pool.HikariPool        : HikariPool-1 - Added connection conn0: url=jdbc:h2:mem:testdb user=SA
2024-02-27T12:03:16.392-05:00  INFO 17280 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Start completed.
2024-02-27T12:03:16.399-05:00  INFO 17280 --- [restartedMain] o.s.b.a.h2.H2ConsoleAutoConfiguration    : H2 console available at '/h2'. Database available at 'jdbc:h2:mem:testdb'
2024-02-27T12:03:16.537-05:00  INFO 17280 --- [restartedMain] o.hibernate.jpa.internal.util.LogHelper  : HHH000204: Processing PersistenceUnitInfo [name: default]
2024-02-27T12:03:16.574-05:00  INFO 17280 --- [restartedMain] org.hibernate.Version                    : HHH000412: Hibernate ORM core version 6.3.1.Final
2024-02-27T12:03:16.599-05:00  INFO 17280 --- [restartedMain] o.h.c.internal.RegionFactoryInitiator    : HHH000026: Second-level cache disabled
2024-02-27T12:03:16.752-05:00  INFO 17280 --- [restartedMain] o.s.o.j.p.SpringPersistenceUnitInfo      : No LoadTimeWeaver setup: ignoring JPA class transformer
2024-02-27T12:03:16.786-05:00  WARN 17280 --- [restartedMain] org.hibernate.orm.deprecation            : HHH90000025: H2Dialect does not need to be specified explicitly using 'hibernate.dialect' (remove the property setting and it will be selected by default)
2024-02-27T12:03:17.246-05:00  INFO 17280 --- [restartedMain] o.h.m.i.EntityInstantiatorPojoStandard   : HHH000182: No default (no-argument) constructor for class: com.task3.models.entity.User (class must be instantiated by Interceptor)
2024-02-27T12:03:17.403-05:00  INFO 17280 --- [restartedMain] o.h.e.t.j.p.i.JtaPlatformInitiator       : HHH000489: No JTA platform available (set 'hibernate.transaction.jta.platform' to enable JTA platform integration)
2024-02-27T12:03:17.458-05:00  INFO 17280 --- [restartedMain] j.LocalContainerEntityManagerFactoryBean : Initialized JPA EntityManagerFactory for persistence unit 'default'
2024-02-27T12:03:17.468-05:00  INFO 17280 --- [restartedMain] com.task3.Task3Application               : main ha sido inicializado
2024-02-27T12:03:17.671-05:00  INFO 17280 --- [restartedMain] o.s.d.j.r.query.QueryEnhancerFactory     : Hibernate is in classpath; If applicable, HQL parser will be used.
2024-02-27T12:03:17.892-05:00  INFO 17280 --- [restartedMain] c.t.m.s.trainer.iTrainerServiceImpl      : Iniciando el iTrainerServiceImpl
2024-02-27T12:03:17.909-05:00  INFO 17280 --- [restartedMain] com.task3.controller.itranerController   : iniciando itrainerController
2024-02-27T12:03:17.937-05:00  INFO 17280 --- [restartedMain] c.t.m.s.trainee.iTraineServiceImpl       : iTraineServiceImpl ha sido inicializado
2024-02-27T12:03:17.944-05:00  INFO 17280 --- [restartedMain] com.task3.controller.traineeController   : traineeControler iniciado
2024-02-27T12:03:17.965-05:00  INFO 17280 --- [restartedMain] c.t.m.s.training.iTrainingServiceImpl    : Iniciando el iTrainingServiceimpl
2024-02-27T12:03:17.970-05:00  INFO 17280 --- [restartedMain] c.task3.controller.trainingController    : iniciando trainingController 
2024-02-27T12:03:17.979-05:00  INFO 17280 --- [restartedMain] c.t.m.s.trainingType.trainingTypeImplem  : trainingTypeImplem iniciado
2024-02-27T12:03:18.265-05:00  INFO 17280 --- [restartedMain] o.s.b.a.e.web.EndpointLinksResolver      : Exposing 15 endpoint(s) beneath base path '/actuator'
2024-02-27T12:03:18.323-05:00  WARN 17280 --- [restartedMain] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2024-02-27T12:03:18.901-05:00  INFO 17280 --- [restartedMain] o.s.b.d.a.OptionalLiveReloadServer       : LiveReload server is running on port 35729
2024-02-27T12:03:18.953-05:00  INFO 17280 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port 8090 (http) with context path ''
2024-02-27T12:03:18.964-05:00  INFO 17280 --- [restartedMain] com.task3.Task3Application               : Started Task3Application in 4.552 seconds (process running for 5.071)
2024-02-27T12:03:19.306-05:00  INFO 17280 --- [RMI TCP Connection(3)-127.0.0.1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2024-02-27T12:03:19.307-05:00  INFO 17280 --- [RMI TCP Connection(3)-127.0.0.1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
2024-02-27T12:03:19.308-05:00  INFO 17280 --- [RMI TCP Connection(3)-127.0.0.1] o.s.web.servlet.DispatcherServlet        : Completed initialization in 1 ms
2024-02-27T12:03:22.931-05:00  INFO 17280 --- [RMI TCP Connection(2)-127.0.0.1] inMXBeanRegistrar$SpringApplicationAdmin : Application shutdown requested.
2024-02-27T12:03:22.944-05:00  INFO 17280 --- [RMI TCP Connection(2)-127.0.0.1] j.LocalContainerEntityManagerFactoryBean : Closing JPA EntityManagerFactory for persistence unit 'default'
2024-02-27T12:03:22.947-05:00  WARN 17280 --- [RMI TCP Connection(2)-127.0.0.1] o.s.b.f.support.DisposableBeanAdapter    : Invocation of destroy method failed on bean with name 'inMemoryDatabaseShutdownExecutor': org.h2.jdbc.JdbcSQLNonTransientConnectionException: La base de datos ya esta cerrada (para des-habilitar el cerrado automatico durante el shutdown de la VM, agregue ";DB_CLOSE_ON_EXIT=FALSE" a la URL de conexión)
Database is already closed (to disable automatic closing at VM shutdown, add ";DB_CLOSE_ON_EXIT=FALSE" to the db URL) [90121-224]
2024-02-27T12:03:22.948-05:00  INFO 17280 --- [RMI TCP Connection(2)-127.0.0.1] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Shutdown initiated...
2024-02-27T12:03:22.949-05:00  INFO 17280 --- [RMI TCP Connection(2)-127.0.0.1] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Shutdown completed.
2024-02-27T20:54:43.092-05:00  INFO 26488 --- [restartedMain] com.task3.Task3Application               : Starting Task3Application using Java 19.0.2 with PID 26488 (C:\Users\USER\git\task3\task_3\target\classes started by USER in C:\Users\USER\git\task3\task_3)
2024-02-27T20:54:43.093-05:00  INFO 26488 --- [restartedMain] com.task3.Task3Application               : The following 1 profile is active: "dev"
2024-02-27T20:54:43.126-05:00  INFO 26488 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : Devtools property defaults active! Set 'spring.devtools.add-properties' to 'false' to disable
2024-02-27T20:54:43.126-05:00  INFO 26488 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : For additional web related logging consider setting the 'logging.level.web' property to 'DEBUG'
2024-02-27T20:54:44.006-05:00  INFO 26488 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Bootstrapping Spring Data JPA repositories in DEFAULT mode.
2024-02-27T20:54:44.061-05:00  INFO 26488 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Finished Spring Data repository scanning in 49 ms. Found 5 JPA repository interfaces.
2024-02-27T20:54:44.679-05:00  INFO 26488 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port 8090 (http)
2024-02-27T20:54:44.688-05:00  INFO 26488 --- [restartedMain] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2024-02-27T20:54:44.688-05:00  INFO 26488 --- [restartedMain] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.16]
2024-02-27T20:54:44.733-05:00  INFO 26488 --- [restartedMain] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2024-02-27T20:54:44.734-05:00  INFO 26488 --- [restartedMain] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 1608 ms
2024-02-27T20:54:44.857-05:00  INFO 26488 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Starting...
2024-02-27T20:54:45.026-05:00  INFO 26488 --- [restartedMain] com.zaxxer.hikari.pool.HikariPool        : HikariPool-1 - Added connection conn0: url=jdbc:h2:mem:testdb user=SA
2024-02-27T20:54:45.028-05:00  INFO 26488 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Start completed.
2024-02-27T20:54:45.035-05:00  INFO 26488 --- [restartedMain] o.s.b.a.h2.H2ConsoleAutoConfiguration    : H2 console available at '/h2'. Database available at 'jdbc:h2:mem:testdb'
2024-02-27T20:54:45.191-05:00  INFO 26488 --- [restartedMain] o.hibernate.jpa.internal.util.LogHelper  : HHH000204: Processing PersistenceUnitInfo [name: default]
2024-02-27T20:54:45.245-05:00  INFO 26488 --- [restartedMain] org.hibernate.Version                    : HHH000412: Hibernate ORM core version 6.3.1.Final
2024-02-27T20:54:45.276-05:00  INFO 26488 --- [restartedMain] o.h.c.internal.RegionFactoryInitiator    : HHH000026: Second-level cache disabled
2024-02-27T20:54:45.476-05:00  INFO 26488 --- [restartedMain] o.s.o.j.p.SpringPersistenceUnitInfo      : No LoadTimeWeaver setup: ignoring JPA class transformer
2024-02-27T20:54:45.522-05:00  WARN 26488 --- [restartedMain] org.hibernate.orm.deprecation            : HHH90000025: H2Dialect does not need to be specified explicitly using 'hibernate.dialect' (remove the property setting and it will be selected by default)
2024-02-27T20:54:46.020-05:00  INFO 26488 --- [restartedMain] o.h.m.i.EntityInstantiatorPojoStandard   : HHH000182: No default (no-argument) constructor for class: com.task3.Entity.User (class must be instantiated by Interceptor)
2024-02-27T20:54:46.231-05:00  INFO 26488 --- [restartedMain] o.h.e.t.j.p.i.JtaPlatformInitiator       : HHH000489: No JTA platform available (set 'hibernate.transaction.jta.platform' to enable JTA platform integration)
2024-02-27T20:54:46.293-05:00  INFO 26488 --- [restartedMain] j.LocalContainerEntityManagerFactoryBean : Initialized JPA EntityManagerFactory for persistence unit 'default'
2024-02-27T20:54:46.303-05:00  INFO 26488 --- [restartedMain] com.task3.Task3Application               : main ha sido inicializado
2024-02-27T20:54:46.526-05:00  INFO 26488 --- [restartedMain] o.s.d.j.r.query.QueryEnhancerFactory     : Hibernate is in classpath; If applicable, HQL parser will be used.
2024-02-27T20:54:46.785-05:00  INFO 26488 --- [restartedMain] c.t.service.trainer.iTrainerServiceImpl  : Iniciando el iTrainerServiceImpl
2024-02-27T20:54:46.803-05:00  INFO 26488 --- [restartedMain] com.task3.Controller.itranerController   : iniciando itrainerController
2024-02-27T20:54:46.826-05:00  INFO 26488 --- [restartedMain] c.t.service.trainee.iTraineServiceImpl   : iTraineServiceImpl ha sido inicializado
2024-02-27T20:54:46.834-05:00  INFO 26488 --- [restartedMain] com.task3.Controller.traineeController   : traineeControler iniciado
2024-02-27T20:54:46.861-05:00  INFO 26488 --- [restartedMain] c.t.s.training.iTrainingServiceImpl      : Iniciando el iTrainingServiceimpl
2024-02-27T20:54:46.867-05:00  INFO 26488 --- [restartedMain] c.task3.Controller.trainingController    : iniciando trainingController 
2024-02-27T20:54:46.878-05:00  INFO 26488 --- [restartedMain] c.t.s.trainingType.trainingTypeImplem    : trainingTypeImplem iniciado
2024-02-27T20:54:47.192-05:00  INFO 26488 --- [restartedMain] o.s.b.a.e.web.EndpointLinksResolver      : Exposing 15 endpoint(s) beneath base path '/actuator'
2024-02-27T20:54:47.246-05:00  WARN 26488 --- [restartedMain] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2024-02-27T20:54:47.886-05:00  INFO 26488 --- [restartedMain] o.s.b.d.a.OptionalLiveReloadServer       : LiveReload server is running on port 35729
2024-02-27T20:54:47.945-05:00  INFO 26488 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port 8090 (http) with context path ''
2024-02-27T20:54:47.956-05:00  INFO 26488 --- [restartedMain] com.task3.Task3Application               : Started Task3Application in 5.223 seconds (process running for 5.835)
2024-02-27T20:54:48.243-05:00  INFO 26488 --- [RMI TCP Connection(3)-127.0.0.1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2024-02-27T20:54:48.244-05:00  INFO 26488 --- [RMI TCP Connection(3)-127.0.0.1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
2024-02-27T20:54:48.245-05:00  INFO 26488 --- [RMI TCP Connection(3)-127.0.0.1] o.s.web.servlet.DispatcherServlet        : Completed initialization in 1 ms
