2024-02-27T12:03:14.766-05:00  INFO 17280 --- [restartedMain] com.task3.Task3Application               : Starting Task3Application using Java 19.0.2 with PID 17280 (C:\Users\USER\git\task3\task_3\target\classes started by USER in C:\Users\USER\git\task3\task_3)
2024-02-27T12:03:14.770-05:00  INFO 17280 --- [restartedMain] com.task3.Task3Application               : The following 1 profile is active: "dev"
2024-02-27T12:03:14.808-05:00  INFO 17280 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : Devtools property defaults active! Set 'spring.devtools.add-properties' to 'false' to disable
2024-02-27T12:03:14.808-05:00  INFO 17280 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : For additional web related logging consider setting the 'logging.level.web' property to 'DEBUG'
2024-02-27T12:03:15.530-05:00  INFO 17280 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Bootstrapping Spring Data JPA repositories in DEFAULT mode.
2024-02-27T12:03:15.577-05:00  INFO 17280 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Finished Spring Data repository scanning in 41 ms. Found 5 JPA repository interfaces.
2024-02-27T12:03:16.097-05:00  INFO 17280 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port 8090 (http)
2024-02-27T12:03:16.104-05:00  INFO 17280 --- [restartedMain] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2024-02-27T12:03:16.104-05:00  INFO 17280 --- [restartedMain] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.16]
2024-02-27T12:03:16.141-05:00  INFO 17280 --- [restartedMain] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2024-02-27T12:03:16.141-05:00  INFO 17280 --- [restartedMain] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 1333 ms
2024-02-27T12:03:16.257-05:00  INFO 17280 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Starting...
2024-02-27T12:03:16.391-05:00  INFO 17280 --- [restartedMain] com.zaxxer.hikari.pool.HikariPool        : HikariPool-1 - Added connection conn0: url=jdbc:h2:mem:testdb user=SA
2024-02-27T12:03:16.392-05:00  INFO 17280 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Start completed.
2024-02-27T12:03:16.399-05:00  INFO 17280 --- [restartedMain] o.s.b.a.h2.H2ConsoleAutoConfiguration    : H2 console available at '/h2'. Database available at 'jdbc:h2:mem:testdb'
2024-02-27T12:03:16.537-05:00  INFO 17280 --- [restartedMain] o.hibernate.jpa.internal.util.LogHelper  : HHH000204: Processing PersistenceUnitInfo [name: default]
2024-02-27T12:03:16.574-05:00  INFO 17280 --- [restartedMain] org.hibernate.Version                    : HHH000412: Hibernate ORM core version 6.3.1.Final
2024-02-27T12:03:16.599-05:00  INFO 17280 --- [restartedMain] o.h.c.internal.RegionFactoryInitiator    : HHH000026: Second-level cache disabled
2024-02-27T12:03:16.752-05:00  INFO 17280 --- [restartedMain] o.s.o.j.p.SpringPersistenceUnitInfo      : No LoadTimeWeaver setup: ignoring JPA class transformer
2024-02-27T12:03:16.786-05:00  WARN 17280 --- [restartedMain] org.hibernate.orm.deprecation            : HHH90000025: H2Dialect does not need to be specified explicitly using 'hibernate.dialect' (remove the property setting and it will be selected by default)
2024-02-27T12:03:17.246-05:00  INFO 17280 --- [restartedMain] o.h.m.i.EntityInstantiatorPojoStandard   : HHH000182: No default (no-argument) constructor for class: com.task3.models.entity.User (class must be instantiated by Interceptor)
2024-02-27T12:03:17.403-05:00  INFO 17280 --- [restartedMain] o.h.e.t.j.p.i.JtaPlatformInitiator       : HHH000489: No JTA platform available (set 'hibernate.transaction.jta.platform' to enable JTA platform integration)
2024-02-27T12:03:17.458-05:00  INFO 17280 --- [restartedMain] j.LocalContainerEntityManagerFactoryBean : Initialized JPA EntityManagerFactory for persistence unit 'default'
2024-02-27T12:03:17.468-05:00  INFO 17280 --- [restartedMain] com.task3.Task3Application               : main ha sido inicializado
2024-02-27T12:03:17.671-05:00  INFO 17280 --- [restartedMain] o.s.d.j.r.query.QueryEnhancerFactory     : Hibernate is in classpath; If applicable, HQL parser will be used.
2024-02-27T12:03:17.892-05:00  INFO 17280 --- [restartedMain] c.t.m.s.trainer.iTrainerServiceImpl      : Iniciando el iTrainerServiceImpl
2024-02-27T12:03:17.909-05:00  INFO 17280 --- [restartedMain] com.task3.controller.itranerController   : iniciando itrainerController
2024-02-27T12:03:17.937-05:00  INFO 17280 --- [restartedMain] c.t.m.s.trainee.iTraineServiceImpl       : iTraineServiceImpl ha sido inicializado
2024-02-27T12:03:17.944-05:00  INFO 17280 --- [restartedMain] com.task3.controller.traineeController   : traineeControler iniciado
2024-02-27T12:03:17.965-05:00  INFO 17280 --- [restartedMain] c.t.m.s.training.iTrainingServiceImpl    : Iniciando el iTrainingServiceimpl
2024-02-27T12:03:17.970-05:00  INFO 17280 --- [restartedMain] c.task3.controller.trainingController    : iniciando trainingController 
2024-02-27T12:03:17.979-05:00  INFO 17280 --- [restartedMain] c.t.m.s.trainingType.trainingTypeImplem  : trainingTypeImplem iniciado
2024-02-27T12:03:18.265-05:00  INFO 17280 --- [restartedMain] o.s.b.a.e.web.EndpointLinksResolver      : Exposing 15 endpoint(s) beneath base path '/actuator'
2024-02-27T12:03:18.323-05:00  WARN 17280 --- [restartedMain] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2024-02-27T12:03:18.901-05:00  INFO 17280 --- [restartedMain] o.s.b.d.a.OptionalLiveReloadServer       : LiveReload server is running on port 35729
2024-02-27T12:03:18.953-05:00  INFO 17280 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port 8090 (http) with context path ''
2024-02-27T12:03:18.964-05:00  INFO 17280 --- [restartedMain] com.task3.Task3Application               : Started Task3Application in 4.552 seconds (process running for 5.071)
2024-02-27T12:03:19.306-05:00  INFO 17280 --- [RMI TCP Connection(3)-127.0.0.1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2024-02-27T12:03:19.307-05:00  INFO 17280 --- [RMI TCP Connection(3)-127.0.0.1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
2024-02-27T12:03:19.308-05:00  INFO 17280 --- [RMI TCP Connection(3)-127.0.0.1] o.s.web.servlet.DispatcherServlet        : Completed initialization in 1 ms
2024-02-27T12:03:22.931-05:00  INFO 17280 --- [RMI TCP Connection(2)-127.0.0.1] inMXBeanRegistrar$SpringApplicationAdmin : Application shutdown requested.
2024-02-27T12:03:22.944-05:00  INFO 17280 --- [RMI TCP Connection(2)-127.0.0.1] j.LocalContainerEntityManagerFactoryBean : Closing JPA EntityManagerFactory for persistence unit 'default'
2024-02-27T12:03:22.947-05:00  WARN 17280 --- [RMI TCP Connection(2)-127.0.0.1] o.s.b.f.support.DisposableBeanAdapter    : Invocation of destroy method failed on bean with name 'inMemoryDatabaseShutdownExecutor': org.h2.jdbc.JdbcSQLNonTransientConnectionException: La base de datos ya esta cerrada (para des-habilitar el cerrado automatico durante el shutdown de la VM, agregue ";DB_CLOSE_ON_EXIT=FALSE" a la URL de conexión)
Database is already closed (to disable automatic closing at VM shutdown, add ";DB_CLOSE_ON_EXIT=FALSE" to the db URL) [90121-224]
2024-02-27T12:03:22.948-05:00  INFO 17280 --- [RMI TCP Connection(2)-127.0.0.1] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Shutdown initiated...
2024-02-27T12:03:22.949-05:00  INFO 17280 --- [RMI TCP Connection(2)-127.0.0.1] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Shutdown completed.
2024-02-27T20:54:43.092-05:00  INFO 26488 --- [restartedMain] com.task3.Task3Application               : Starting Task3Application using Java 19.0.2 with PID 26488 (C:\Users\USER\git\task3\task_3\target\classes started by USER in C:\Users\USER\git\task3\task_3)
2024-02-27T20:54:43.093-05:00  INFO 26488 --- [restartedMain] com.task3.Task3Application               : The following 1 profile is active: "dev"
2024-02-27T20:54:43.126-05:00  INFO 26488 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : Devtools property defaults active! Set 'spring.devtools.add-properties' to 'false' to disable
2024-02-27T20:54:43.126-05:00  INFO 26488 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : For additional web related logging consider setting the 'logging.level.web' property to 'DEBUG'
2024-02-27T20:54:44.006-05:00  INFO 26488 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Bootstrapping Spring Data JPA repositories in DEFAULT mode.
2024-02-27T20:54:44.061-05:00  INFO 26488 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Finished Spring Data repository scanning in 49 ms. Found 5 JPA repository interfaces.
2024-02-27T20:54:44.679-05:00  INFO 26488 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port 8090 (http)
2024-02-27T20:54:44.688-05:00  INFO 26488 --- [restartedMain] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2024-02-27T20:54:44.688-05:00  INFO 26488 --- [restartedMain] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.16]
2024-02-27T20:54:44.733-05:00  INFO 26488 --- [restartedMain] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2024-02-27T20:54:44.734-05:00  INFO 26488 --- [restartedMain] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 1608 ms
2024-02-27T20:54:44.857-05:00  INFO 26488 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Starting...
2024-02-27T20:54:45.026-05:00  INFO 26488 --- [restartedMain] com.zaxxer.hikari.pool.HikariPool        : HikariPool-1 - Added connection conn0: url=jdbc:h2:mem:testdb user=SA
2024-02-27T20:54:45.028-05:00  INFO 26488 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Start completed.
2024-02-27T20:54:45.035-05:00  INFO 26488 --- [restartedMain] o.s.b.a.h2.H2ConsoleAutoConfiguration    : H2 console available at '/h2'. Database available at 'jdbc:h2:mem:testdb'
2024-02-27T20:54:45.191-05:00  INFO 26488 --- [restartedMain] o.hibernate.jpa.internal.util.LogHelper  : HHH000204: Processing PersistenceUnitInfo [name: default]
2024-02-27T20:54:45.245-05:00  INFO 26488 --- [restartedMain] org.hibernate.Version                    : HHH000412: Hibernate ORM core version 6.3.1.Final
2024-02-27T20:54:45.276-05:00  INFO 26488 --- [restartedMain] o.h.c.internal.RegionFactoryInitiator    : HHH000026: Second-level cache disabled
2024-02-27T20:54:45.476-05:00  INFO 26488 --- [restartedMain] o.s.o.j.p.SpringPersistenceUnitInfo      : No LoadTimeWeaver setup: ignoring JPA class transformer
2024-02-27T20:54:45.522-05:00  WARN 26488 --- [restartedMain] org.hibernate.orm.deprecation            : HHH90000025: H2Dialect does not need to be specified explicitly using 'hibernate.dialect' (remove the property setting and it will be selected by default)
2024-02-27T20:54:46.020-05:00  INFO 26488 --- [restartedMain] o.h.m.i.EntityInstantiatorPojoStandard   : HHH000182: No default (no-argument) constructor for class: com.task3.Entity.User (class must be instantiated by Interceptor)
2024-02-27T20:54:46.231-05:00  INFO 26488 --- [restartedMain] o.h.e.t.j.p.i.JtaPlatformInitiator       : HHH000489: No JTA platform available (set 'hibernate.transaction.jta.platform' to enable JTA platform integration)
2024-02-27T20:54:46.293-05:00  INFO 26488 --- [restartedMain] j.LocalContainerEntityManagerFactoryBean : Initialized JPA EntityManagerFactory for persistence unit 'default'
2024-02-27T20:54:46.303-05:00  INFO 26488 --- [restartedMain] com.task3.Task3Application               : main ha sido inicializado
2024-02-27T20:54:46.526-05:00  INFO 26488 --- [restartedMain] o.s.d.j.r.query.QueryEnhancerFactory     : Hibernate is in classpath; If applicable, HQL parser will be used.
2024-02-27T20:54:46.785-05:00  INFO 26488 --- [restartedMain] c.t.service.trainer.iTrainerServiceImpl  : Iniciando el iTrainerServiceImpl
2024-02-27T20:54:46.803-05:00  INFO 26488 --- [restartedMain] com.task3.Controller.itranerController   : iniciando itrainerController
2024-02-27T20:54:46.826-05:00  INFO 26488 --- [restartedMain] c.t.service.trainee.iTraineServiceImpl   : iTraineServiceImpl ha sido inicializado
2024-02-27T20:54:46.834-05:00  INFO 26488 --- [restartedMain] com.task3.Controller.traineeController   : traineeControler iniciado
2024-02-27T20:54:46.861-05:00  INFO 26488 --- [restartedMain] c.t.s.training.iTrainingServiceImpl      : Iniciando el iTrainingServiceimpl
2024-02-27T20:54:46.867-05:00  INFO 26488 --- [restartedMain] c.task3.Controller.trainingController    : iniciando trainingController 
2024-02-27T20:54:46.878-05:00  INFO 26488 --- [restartedMain] c.t.s.trainingType.trainingTypeImplem    : trainingTypeImplem iniciado
2024-02-27T20:54:47.192-05:00  INFO 26488 --- [restartedMain] o.s.b.a.e.web.EndpointLinksResolver      : Exposing 15 endpoint(s) beneath base path '/actuator'
2024-02-27T20:54:47.246-05:00  WARN 26488 --- [restartedMain] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2024-02-27T20:54:47.886-05:00  INFO 26488 --- [restartedMain] o.s.b.d.a.OptionalLiveReloadServer       : LiveReload server is running on port 35729
2024-02-27T20:54:47.945-05:00  INFO 26488 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port 8090 (http) with context path ''
2024-02-27T20:54:47.956-05:00  INFO 26488 --- [restartedMain] com.task3.Task3Application               : Started Task3Application in 5.223 seconds (process running for 5.835)
2024-02-27T20:54:48.243-05:00  INFO 26488 --- [RMI TCP Connection(3)-127.0.0.1] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring DispatcherServlet 'dispatcherServlet'
2024-02-27T20:54:48.244-05:00  INFO 26488 --- [RMI TCP Connection(3)-127.0.0.1] o.s.web.servlet.DispatcherServlet        : Initializing Servlet 'dispatcherServlet'
2024-02-27T20:54:48.245-05:00  INFO 26488 --- [RMI TCP Connection(3)-127.0.0.1] o.s.web.servlet.DispatcherServlet        : Completed initialization in 1 ms
2024-02-27T21:00:44.725-05:00  INFO 26488 --- [File Watcher] rtingClassPathChangeChangedEventListener : Restarting due to 30 class path changes (0 additions, 26 deletions, 4 modifications)
2024-02-27T21:00:44.748-05:00  INFO 26488 --- [Thread-5] j.LocalContainerEntityManagerFactoryBean : Closing JPA EntityManagerFactory for persistence unit 'default'
2024-02-27T21:00:44.754-05:00  WARN 26488 --- [Thread-5] o.s.b.f.support.DisposableBeanAdapter    : Invocation of destroy method failed on bean with name 'inMemoryDatabaseShutdownExecutor': org.h2.jdbc.JdbcSQLNonTransientConnectionException: La base de datos ya esta cerrada (para des-habilitar el cerrado automatico durante el shutdown de la VM, agregue ";DB_CLOSE_ON_EXIT=FALSE" a la URL de conexión)
Database is already closed (to disable automatic closing at VM shutdown, add ";DB_CLOSE_ON_EXIT=FALSE" to the db URL) [90121-224]
2024-02-27T21:00:44.755-05:00  INFO 26488 --- [Thread-5] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Shutdown initiated...
2024-02-27T21:00:44.757-05:00  INFO 26488 --- [Thread-5] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Shutdown completed.
2024-02-27T21:00:44.892-05:00  INFO 26488 --- [restartedMain] com.task3.Task3Application               : Starting Task3Application using Java 19.0.2 with PID 26488 (C:\Users\USER\git\task3\task_3\target\classes started by USER in C:\Users\USER\git\task3\task_3)
2024-02-27T21:00:44.892-05:00  INFO 26488 --- [restartedMain] com.task3.Task3Application               : The following 1 profile is active: "dev"
2024-02-27T21:00:45.318-05:00  INFO 26488 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Bootstrapping Spring Data JPA repositories in DEFAULT mode.
2024-02-27T21:00:45.320-05:00  INFO 26488 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Finished Spring Data repository scanning in 1 ms. Found 0 JPA repository interfaces.
2024-02-27T21:00:45.617-05:00  INFO 26488 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port 8090 (http)
2024-02-27T21:00:45.618-05:00  INFO 26488 --- [restartedMain] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2024-02-27T21:00:45.618-05:00  INFO 26488 --- [restartedMain] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.16]
2024-02-27T21:00:45.647-05:00  INFO 26488 --- [restartedMain] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2024-02-27T21:00:45.647-05:00  INFO 26488 --- [restartedMain] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 752 ms
2024-02-27T21:00:45.853-05:00  INFO 26488 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-2 - Starting...
2024-02-27T21:00:45.856-05:00  INFO 26488 --- [restartedMain] com.zaxxer.hikari.pool.HikariPool        : HikariPool-2 - Added connection conn10: url=jdbc:h2:mem:testdb user=SA
2024-02-27T21:00:45.856-05:00  INFO 26488 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-2 - Start completed.
2024-02-27T21:00:45.856-05:00  INFO 26488 --- [restartedMain] o.s.b.a.h2.H2ConsoleAutoConfiguration    : H2 console available at '/h2'. Database available at 'jdbc:h2:mem:testdb'
2024-02-27T21:00:46.102-05:00  INFO 26488 --- [restartedMain] o.hibernate.jpa.internal.util.LogHelper  : HHH000204: Processing PersistenceUnitInfo [name: default]
2024-02-27T21:00:46.107-05:00  INFO 26488 --- [restartedMain] o.h.c.internal.RegionFactoryInitiator    : HHH000026: Second-level cache disabled
2024-02-27T21:00:46.114-05:00  INFO 26488 --- [restartedMain] o.s.o.j.p.SpringPersistenceUnitInfo      : No LoadTimeWeaver setup: ignoring JPA class transformer
2024-02-27T21:00:46.116-05:00  WARN 26488 --- [restartedMain] org.hibernate.orm.deprecation            : HHH90000025: H2Dialect does not need to be specified explicitly using 'hibernate.dialect' (remove the property setting and it will be selected by default)
2024-02-27T21:00:46.119-05:00  WARN 26488 --- [restartedMain] ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'entityManagerFactory' defined in class path resource [org/springframework/boot/autoconfigure/orm/jpa/HibernateJpaConfiguration.class]: com/task3/models/entity/User
2024-02-27T21:00:46.120-05:00  WARN 26488 --- [restartedMain] o.s.b.f.support.DisposableBeanAdapter    : Invocation of destroy method failed on bean with name 'inMemoryDatabaseShutdownExecutor': org.h2.jdbc.JdbcSQLNonTransientConnectionException: La base de datos ya esta cerrada (para des-habilitar el cerrado automatico durante el shutdown de la VM, agregue ";DB_CLOSE_ON_EXIT=FALSE" a la URL de conexión)
Database is already closed (to disable automatic closing at VM shutdown, add ";DB_CLOSE_ON_EXIT=FALSE" to the db URL) [90121-224]
2024-02-27T21:00:46.121-05:00  INFO 26488 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-2 - Shutdown initiated...
2024-02-27T21:00:46.130-05:00  INFO 26488 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-2 - Shutdown completed.
2024-02-27T21:00:46.131-05:00  INFO 26488 --- [restartedMain] o.apache.catalina.core.StandardService   : Stopping service [Tomcat]
2024-02-27T21:00:46.158-05:00  INFO 26488 --- [restartedMain] .s.b.a.l.ConditionEvaluationReportLogger : 

Error starting ApplicationContext. To display the condition evaluation report re-run your application with 'debug' enabled.
2024-02-27T21:00:46.229-05:00 ERROR 26488 --- [restartedMain] o.s.boot.SpringApplication               : Application run failed

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'entityManagerFactory' defined in class path resource [org/springframework/boot/autoconfigure/orm/jpa/HibernateJpaConfiguration.class]: com/task3/models/entity/User
	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.initializeBean(AbstractAutowireCapableBeanFactory.java:1775) ~[spring-beans-6.1.1.jar:6.1.1]
	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.doCreateBean(AbstractAutowireCapableBeanFactory.java:601) ~[spring-beans-6.1.1.jar:6.1.1]
	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.createBean(AbstractAutowireCapableBeanFactory.java:523) ~[spring-beans-6.1.1.jar:6.1.1]
	at org.springframework.beans.factory.support.AbstractBeanFactory.lambda$doGetBean$0(AbstractBeanFactory.java:325) ~[spring-beans-6.1.1.jar:6.1.1]
	at org.springframework.beans.factory.support.DefaultSingletonBeanRegistry.getSingleton(DefaultSingletonBeanRegistry.java:234) ~[spring-beans-6.1.1.jar:6.1.1]
	at org.springframework.beans.factory.support.AbstractBeanFactory.doGetBean(AbstractBeanFactory.java:323) ~[spring-beans-6.1.1.jar:6.1.1]
	at org.springframework.beans.factory.support.AbstractBeanFactory.getBean(AbstractBeanFactory.java:199) ~[spring-beans-6.1.1.jar:6.1.1]
	at org.springframework.context.support.AbstractApplicationContext.getBean(AbstractApplicationContext.java:1173) ~[spring-context-6.1.1.jar:6.1.1]
	at org.springframework.context.support.AbstractApplicationContext.finishBeanFactoryInitialization(AbstractApplicationContext.java:936) ~[spring-context-6.1.1.jar:6.1.1]
	at org.springframework.context.support.AbstractApplicationContext.refresh(AbstractApplicationContext.java:616) ~[spring-context-6.1.1.jar:6.1.1]
	at org.springframework.boot.web.servlet.context.ServletWebServerApplicationContext.refresh(ServletWebServerApplicationContext.java:146) ~[spring-boot-3.2.0.jar:3.2.0]
	at org.springframework.boot.SpringApplication.refresh(SpringApplication.java:753) ~[spring-boot-3.2.0.jar:3.2.0]
	at org.springframework.boot.SpringApplication.refreshContext(SpringApplication.java:455) ~[spring-boot-3.2.0.jar:3.2.0]
	at org.springframework.boot.SpringApplication.run(SpringApplication.java:323) ~[spring-boot-3.2.0.jar:3.2.0]
	at org.springframework.boot.SpringApplication.run(SpringApplication.java:1342) ~[spring-boot-3.2.0.jar:3.2.0]
	at org.springframework.boot.SpringApplication.run(SpringApplication.java:1331) ~[spring-boot-3.2.0.jar:3.2.0]
	at com.task3.Task3Application.main(Task3Application.java:13) ~[classes/:na]
	at java.base/jdk.internal.reflect.DirectMethodHandleAccessor.invoke(DirectMethodHandleAccessor.java:104) ~[na:na]
	at java.base/java.lang.reflect.Method.invoke(Method.java:578) ~[na:na]
	at org.springframework.boot.devtools.restart.RestartLauncher.run(RestartLauncher.java:50) ~[spring-boot-devtools-3.2.0.jar:3.2.0]
Caused by: java.lang.NoClassDefFoundError: com/task3/models/entity/User
	at java.base/java.lang.Class.getDeclaredMethods0(Native Method) ~[na:na]
	at java.base/java.lang.Class.privateGetDeclaredMethods(Class.java:3458) ~[na:na]
	at java.base/java.lang.Class.getDeclaredMethods(Class.java:2557) ~[na:na]
	at org.hibernate.annotations.common.reflection.java.JavaXClass.getDeclaredMethodProperties(JavaXClass.java:137) ~[hibernate-commons-annotations-6.0.6.Final.jar:6.0.6.Final]
	at org.hibernate.annotations.common.reflection.java.JavaXClass.getDeclaredProperties(JavaXClass.java:175) ~[hibernate-commons-annotations-6.0.6.Final.jar:6.0.6.Final]
	at org.hibernate.annotations.common.reflection.java.JavaXClass.getDeclaredProperties(JavaXClass.java:167) ~[hibernate-commons-annotations-6.0.6.Final.jar:6.0.6.Final]
	at org.hibernate.boot.model.internal.InheritanceState.determineDefaultAccessType(InheritanceState.java:259) ~[hibernate-core-6.3.1.Final.jar:6.3.1.Final]
	at org.hibernate.boot.model.internal.InheritanceState.getElementsToProcess(InheritanceState.java:215) ~[hibernate-core-6.3.1.Final.jar:6.3.1.Final]
	at org.hibernate.boot.model.internal.InheritanceState.postProcess(InheritanceState.java:160) ~[hibernate-core-6.3.1.Final.jar:6.3.1.Final]
	at org.hibernate.boot.model.internal.EntityBinder.handleIdentifier(EntityBinder.java:296) ~[hibernate-core-6.3.1.Final.jar:6.3.1.Final]
	at org.hibernate.boot.model.internal.EntityBinder.bindEntityClass(EntityBinder.java:231) ~[hibernate-core-6.3.1.Final.jar:6.3.1.Final]
	at org.hibernate.boot.model.internal.AnnotationBinder.bindClass(AnnotationBinder.java:422) ~[hibernate-core-6.3.1.Final.jar:6.3.1.Final]
	at org.hibernate.boot.model.source.internal.annotations.AnnotationMetadataSourceProcessorImpl.processEntityHierarchies(AnnotationMetadataSourceProcessorImpl.java:255) ~[hibernate-core-6.3.1.Final.jar:6.3.1.Final]
	at org.hibernate.boot.model.process.spi.MetadataBuildingProcess$1.processEntityHierarchies(MetadataBuildingProcess.java:278) ~[hibernate-core-6.3.1.Final.jar:6.3.1.Final]
	at org.hibernate.boot.model.process.spi.MetadataBuildingProcess.complete(MetadataBuildingProcess.java:321) ~[hibernate-core-6.3.1.Final.jar:6.3.1.Final]
	at org.hibernate.jpa.boot.internal.EntityManagerFactoryBuilderImpl.metadata(EntityManagerFactoryBuilderImpl.java:1432) ~[hibernate-core-6.3.1.Final.jar:6.3.1.Final]
	at org.hibernate.jpa.boot.internal.EntityManagerFactoryBuilderImpl.build(EntityManagerFactoryBuilderImpl.java:1503) ~[hibernate-core-6.3.1.Final.jar:6.3.1.Final]
	at org.springframework.orm.jpa.vendor.SpringHibernateJpaPersistenceProvider.createContainerEntityManagerFactory(SpringHibernateJpaPersistenceProvider.java:75) ~[spring-orm-6.1.1.jar:6.1.1]
	at org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean.createNativeEntityManagerFactory(LocalContainerEntityManagerFactoryBean.java:376) ~[spring-orm-6.1.1.jar:6.1.1]
	at org.springframework.orm.jpa.AbstractEntityManagerFactoryBean.buildNativeEntityManagerFactory(AbstractEntityManagerFactoryBean.java:409) ~[spring-orm-6.1.1.jar:6.1.1]
	at org.springframework.orm.jpa.AbstractEntityManagerFactoryBean.afterPropertiesSet(AbstractEntityManagerFactoryBean.java:396) ~[spring-orm-6.1.1.jar:6.1.1]
	at org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean.afterPropertiesSet(LocalContainerEntityManagerFactoryBean.java:352) ~[spring-orm-6.1.1.jar:6.1.1]
	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.invokeInitMethods(AbstractAutowireCapableBeanFactory.java:1822) ~[spring-beans-6.1.1.jar:6.1.1]
	at org.springframework.beans.factory.support.AbstractAutowireCapableBeanFactory.initializeBean(AbstractAutowireCapableBeanFactory.java:1771) ~[spring-beans-6.1.1.jar:6.1.1]
	... 19 common frames omitted
Caused by: java.lang.ClassNotFoundException: com.task3.models.entity.User
	at java.base/jdk.internal.loader.BuiltinClassLoader.loadClass(BuiltinClassLoader.java:641) ~[na:na]
	at java.base/jdk.internal.loader.ClassLoaders$AppClassLoader.loadClass(ClassLoaders.java:188) ~[na:na]
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:521) ~[na:na]
	at java.base/java.lang.Class.forName0(Native Method) ~[na:na]
	at java.base/java.lang.Class.forName(Class.java:495) ~[na:na]
	at java.base/java.lang.Class.forName(Class.java:474) ~[na:na]
	at org.springframework.boot.devtools.restart.classloader.RestartClassLoader.loadClass(RestartClassLoader.java:121) ~[spring-boot-devtools-3.2.0.jar:3.2.0]
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:521) ~[na:na]
	... 43 common frames omitted

2024-02-27T21:02:02.969-05:00  INFO 25544 --- [restartedMain] com.task3.Task3Application               : Starting Task3Application using Java 19.0.2 with PID 25544 (C:\Users\USER\git\task3\task_3\target\classes started by USER in C:\Users\USER\git\task3\task_3)
2024-02-27T21:02:02.970-05:00  INFO 25544 --- [restartedMain] com.task3.Task3Application               : No active profile set, falling back to 1 default profile: "default"
2024-02-27T21:02:03.002-05:00  INFO 25544 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : Devtools property defaults active! Set 'spring.devtools.add-properties' to 'false' to disable
2024-02-27T21:02:03.002-05:00  INFO 25544 --- [restartedMain] .e.DevToolsPropertyDefaultsPostProcessor : For additional web related logging consider setting the 'logging.level.web' property to 'DEBUG'
2024-02-27T21:02:03.508-05:00  INFO 25544 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Bootstrapping Spring Data JPA repositories in DEFAULT mode.
2024-02-27T21:02:03.557-05:00  INFO 25544 --- [restartedMain] .s.d.r.c.RepositoryConfigurationDelegate : Finished Spring Data repository scanning in 44 ms. Found 5 JPA repository interfaces.
2024-02-27T21:02:03.912-05:00  INFO 25544 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat initialized with port 8090 (http)
2024-02-27T21:02:03.919-05:00  INFO 25544 --- [restartedMain] o.apache.catalina.core.StandardService   : Starting service [Tomcat]
2024-02-27T21:02:03.919-05:00  INFO 25544 --- [restartedMain] o.apache.catalina.core.StandardEngine    : Starting Servlet engine: [Apache Tomcat/10.1.16]
2024-02-27T21:02:03.955-05:00  INFO 25544 --- [restartedMain] o.a.c.c.C.[Tomcat].[localhost].[/]       : Initializing Spring embedded WebApplicationContext
2024-02-27T21:02:03.955-05:00  INFO 25544 --- [restartedMain] w.s.c.ServletWebServerApplicationContext : Root WebApplicationContext: initialization completed in 953 ms
2024-02-27T21:02:03.974-05:00  INFO 25544 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Starting...
2024-02-27T21:02:04.103-05:00  INFO 25544 --- [restartedMain] com.zaxxer.hikari.pool.HikariPool        : HikariPool-1 - Added connection conn0: url=jdbc:h2:mem:testdb user=SA
2024-02-27T21:02:04.105-05:00  INFO 25544 --- [restartedMain] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Start completed.
2024-02-27T21:02:04.112-05:00  INFO 25544 --- [restartedMain] o.s.b.a.h2.H2ConsoleAutoConfiguration    : H2 console available at '/h2'. Database available at 'jdbc:h2:mem:testdb'
2024-02-27T21:02:04.192-05:00  INFO 25544 --- [restartedMain] o.hibernate.jpa.internal.util.LogHelper  : HHH000204: Processing PersistenceUnitInfo [name: default]
2024-02-27T21:02:04.234-05:00  INFO 25544 --- [restartedMain] org.hibernate.Version                    : HHH000412: Hibernate ORM core version 6.3.1.Final
2024-02-27T21:02:04.258-05:00  INFO 25544 --- [restartedMain] o.h.c.internal.RegionFactoryInitiator    : HHH000026: Second-level cache disabled
2024-02-27T21:02:04.413-05:00  INFO 25544 --- [restartedMain] o.s.o.j.p.SpringPersistenceUnitInfo      : No LoadTimeWeaver setup: ignoring JPA class transformer
2024-02-27T21:02:04.443-05:00  WARN 25544 --- [restartedMain] org.hibernate.orm.deprecation            : HHH90000025: H2Dialect does not need to be specified explicitly using 'hibernate.dialect' (remove the property setting and it will be selected by default)
2024-02-27T21:02:04.914-05:00  INFO 25544 --- [restartedMain] o.h.m.i.EntityInstantiatorPojoStandard   : HHH000182: No default (no-argument) constructor for class: com.task3.models.entity.User (class must be instantiated by Interceptor)
2024-02-27T21:02:05.074-05:00  INFO 25544 --- [restartedMain] o.h.e.t.j.p.i.JtaPlatformInitiator       : HHH000489: No JTA platform available (set 'hibernate.transaction.jta.platform' to enable JTA platform integration)
2024-02-27T21:02:05.131-05:00  INFO 25544 --- [restartedMain] j.LocalContainerEntityManagerFactoryBean : Initialized JPA EntityManagerFactory for persistence unit 'default'
2024-02-27T21:02:05.136-05:00  INFO 25544 --- [restartedMain] com.task3.Task3Application               : main ha sido inicializado
2024-02-27T21:02:05.302-05:00  INFO 25544 --- [restartedMain] o.s.d.j.r.query.QueryEnhancerFactory     : Hibernate is in classpath; If applicable, HQL parser will be used.
2024-02-27T21:02:05.524-05:00  INFO 25544 --- [restartedMain] c.t.m.s.trainer.iTrainerServiceImpl      : Iniciando el iTrainerServiceImpl
2024-02-27T21:02:05.541-05:00  INFO 25544 --- [restartedMain] com.task3.Controller.itranerController   : iniciando itrainerController
2024-02-27T21:02:05.562-05:00  INFO 25544 --- [restartedMain] com.task3.Task3Application               : iTraineServiceImpl ha sido inicializado
2024-02-27T21:02:05.567-05:00  INFO 25544 --- [restartedMain] com.task3.Controller.traineeController   : Controller iniciado
2024-02-27T21:02:05.579-05:00  INFO 25544 --- [restartedMain] c.t.m.s.training.iTrainingServiceImpl    : Iniciando el iTrainingServiceimpl
2024-02-27T21:02:05.583-05:00  INFO 25544 --- [restartedMain] com.task3.Controller.traineeController   : iniciando Controlador TRAINING
2024-02-27T21:02:05.700-05:00  WARN 25544 --- [restartedMain] JpaBaseConfiguration$JpaWebConfiguration : spring.jpa.open-in-view is enabled by default. Therefore, database queries may be performed during view rendering. Explicitly configure spring.jpa.open-in-view to disable this warning
2024-02-27T21:02:05.983-05:00  INFO 25544 --- [restartedMain] o.s.b.d.a.OptionalLiveReloadServer       : LiveReload server is running on port 35729
2024-02-27T21:02:06.012-05:00  INFO 25544 --- [restartedMain] o.s.b.w.embedded.tomcat.TomcatWebServer  : Tomcat started on port 8090 (http) with context path ''
2024-02-27T21:02:06.018-05:00  INFO 25544 --- [restartedMain] com.task3.Task3Application               : Started Task3Application in 3.301 seconds (process running for 3.752)
2024-02-27T21:05:35.526-05:00  INFO 25544 --- [RMI TCP Connection(7)-127.0.0.1] inMXBeanRegistrar$SpringApplicationAdmin : Application shutdown requested.
2024-02-27T21:05:35.539-05:00  INFO 25544 --- [RMI TCP Connection(7)-127.0.0.1] j.LocalContainerEntityManagerFactoryBean : Closing JPA EntityManagerFactory for persistence unit 'default'
2024-02-27T21:05:35.542-05:00  WARN 25544 --- [RMI TCP Connection(7)-127.0.0.1] o.s.b.f.support.DisposableBeanAdapter    : Invocation of destroy method failed on bean with name 'inMemoryDatabaseShutdownExecutor': org.h2.jdbc.JdbcSQLNonTransientConnectionException: La base de datos ya esta cerrada (para des-habilitar el cerrado automatico durante el shutdown de la VM, agregue ";DB_CLOSE_ON_EXIT=FALSE" a la URL de conexión)
Database is already closed (to disable automatic closing at VM shutdown, add ";DB_CLOSE_ON_EXIT=FALSE" to the db URL) [90121-224]
2024-02-27T21:05:35.543-05:00  INFO 25544 --- [RMI TCP Connection(7)-127.0.0.1] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Shutdown initiated...
2024-02-27T21:05:35.544-05:00  INFO 25544 --- [RMI TCP Connection(7)-127.0.0.1] com.zaxxer.hikari.HikariDataSource       : HikariPool-1 - Shutdown completed.
